@charset "utf-8";
*{ margin: 0; padding: 0; }
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;	
	background-color: rgba(255,255,255,0.9);
}
.headA{
	display: inline-block;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;	
}
.headA img{
	width:50%;
}
.headB ul{
	list-style: none;
}
.headB a{
	display: block;
	padding: 15px;
	color: inherit;
	font-size: 12px;
	text-decoration: none;
}
.headB a:hover{
	background-color: rgba(0,0,0,0.3);
}
.headC{
	width: 30px;
	height: 30px;
	background-image: url(images/menu_toggle_btn.png);
	background-position: center;
	background-size: cover;
}
.secA .container{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(images/bg_01.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30vh;
	color: mediumblue;
	text-align: center;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.secA img{
	width: 20%;
}
.secA h1{
	font-size:15vw;
	letter-spacing: 0.1em;
	margin-left: 0.2em;
	margin-top:150px;
	margin-bottom:50px;
	
}
.secB .text{
	text-align: center;
	padding: 20px;
}
.secB img{
	margin-top: 30px;
	margin-bottom: 30px;
}
.secB h2{
	margin-bottom: 15px;
	font-size: 25px;
}
.secB p{
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 2;
	opacity: 0.7;
}
.secB a{ 
	text-decoration: none;
}
.secC{
	background-color: #5d9ab2;
	color: #fff;
}
.secC .photo{
	min-height: 350px;
	background-image: url(images/paris.jpg);
	background-position: center;
	background-size: cover;
}
.secC .text{
	padding: 20px;
}
.secC h2{
	margin: 20px;
}
.secC p{
	margin-bottom: 20px;
}
.secC a{
	display: inline-block;
	margin: 20px;
	border: 3px solid #fff;
	border-radius: 7px;
	background-color: #BF6A7A;
	color: #fff;
	padding: 10px 30px;	
	text-decoration: none;
}
.secC a:hover{
	background-image: linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0.2));
}
.secD{
	margin-top: 5px;
}
.secD .photo{
	min-height: 350px;
	background-image: url(images/australia.jpg);
	background-position: center;
	background-size: cover;
}
.secD .text{
	padding: 20px;
}
.secD h2{
	margin: 20px;
}
.secD p{
	margin-bottom: 20px;
}
.secD a{
	display: inline-block;
	margin: 20px;
	border: 3px solid #fff;
	box-shadow: 0 0 0 1px #888;
	border-radius: 7px;
	background-color: #BF6A7A;
	color: #fff;
	padding: 10px 30px;	
	text-decoration: none;
}
.secD a:hover{
	background-image: linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0.2));
}

.footer{
	background-color: #5d9ab2;
	color: #fff;
}
.footer .container{
	text-align: center;
	padding: 40px 20px;
}
.footer a{
	text-decoration: none;
	color: inherit;
}
.footA h2{
	font-size: 26px;
	letter-spacing: 0.2em;
}
.footA p{
	font-size: 14px;
	margin-bottom: 30px;
}
.footB h3{
	border-bottom: 1px solid currentColor;
	margin-bottom: 10px;
}
.footB ul{
	list-style: none;
}
.footB div{
	margin-bottom: 20px;
	padding: 0 30px;
}
.footB a{
	font-size: 12px;
}
.footB a:hover{
	background-color: rgba(0,0,0,0.3);
	display: block;
	padding: 5px;
}
/* 테블릿용*/	
@media all and (max-width:767px){
	.header .container_mini{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
	}
	.headB{					
		display: none;
	}
	.headC{
		cursor: pointer;
		margin: 10px;
	}

}

/*pc일경우*/
@media all and (min-width:768px) {
	.header{
		
	}
	.header .container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1000px;
		margin: 0 auto;
	}
	.headB{
		display: block !important;
	}
	.headB ul{
		display: flex;
	}
	.headC{
		display: none;
	}
	.secA h1{
		font-size:50px;
	}
	.secB .container{
		display: flex;
		margin: 0 auto;
		max-width: 1000px;
	}
	.secB .text{
		flex: 1;
	}
	.secC .container{
		display: flex;
		margin: 0 auto;
		max-width: 1000px;
	}
	.secC .photo{
		flex: 3;
	}
	.secC .text{
		flex: 2;
	}
	.secD .container{
		display: flex;
		flex-direction: row-reverse;
		margin: 0 auto;
		padding: 30px;
		max-width: 1000px;
	}
	.secD .photo{
		flex: 2;
	}
	.secD .text{
		flex: 3;
	}
	.footB{
		display: flex;
	}
	.footB div{
		flex: 1;
	}
	.footer .container{
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		margin: 20px auto;
	}
	.footA{
		flex: 2;
	}
	.footB{
		flex: 3;
	}
	.footC{
		flex: 0 0 100%;	
			  /* flex-grow flex-shrink flex-basis */
	}
}